<header class="site-header">
  <a href="/" class="logo">Babette van Gerwen</a>
  <nav class="main-nav">
    <a href="/work/">Work</a>
    <a href="/contact-cv/">Contact & CV</a>
    <a href="/about/">About</a>
  </nav>
</header>
