<a class="card" href="{{ project.url }}">
  <div class="card-thumb">
    <img src="{{ project.data.cover }}" alt="{{ project.data.title }}" />
  </div>
  <div class="card-text">
    <h2>{{ project.data.title }}</h2>
    <p>{{ project.data.summary }}</p>
  </div>
</a>
