<a class="card" href="{{ project.url }}">
  <div class="card-thumb">
  {% if project.data.gallery and project.data.gallery.length > 0 %}
    {% set thumb = null %}
    {% for media in project.data.gallery %}
      {% if media.type != 'video' and not thumb %}
        {% set thumb = media %}
      {% endif %}
    {% endfor %}
    {% if thumb %}
      <img src="{{ thumb.src or thumb }}" alt="{{ project.data.title }}" />
    {% endif %}
  {% endif %}
  </div>
  <div class="card-text">
    <h2 class="card-title">{{ project.data.title }}</h2>
  </div>
</a>
