<a class="card" href="{{ project.url }}">
  <div class="card-thumb">
    {% if project.data.gallery and project.data.gallery.length > 0 %}
      <img src="{{ project.data.gallery[0] }}" alt="{{ project.data.title }}" />
    {% endif %}
  </div>
  <div class="card-text">
    <h2 class="card-title">{{ project.data.title }}</h2>
    {% if project.data.summary %}
      <p class="card-summary">{{ project.data.summary }}</p>
    {% endif %}
  </div>
</a>
