---
layout: layout.njk
title: Home
---

<section class="hero">
  <div class="hero">
    <img src="/img/image3.jpeg" alt="Hero Image" class="distorted" />
  </div>

  <div class="hero-text">
    Babette van Gerwen is an artist with a background in geography and environmental science. She explores the impact of nature on our everyday experiences, particularly in urban settings. Through painting and film, she highlights the agency, mystery, and poetry of non-human lives that often go unnoticed.
  </div>
  
</section>

<div class="work-grid">
  {% for project in collections.projects %}
    {% include "project-card.njk" %}
  {% endfor %}
</div>
