---
layout: layout.njk
title: Work
permalink: /work/
---

<div class="work-grid">
  {% for project in collections.projects %}
    <a class="card" href="{{ project.url }}">
      {% if project.data.gallery and project.data.gallery.length > 0 %}
        <img src="{{ project.data.gallery[0] }}" alt="{{ project.data.title }}">
      {% endif %}
      <h2>{{ project.data.title }}</h2>
      <p>{{ project.data.summary }}</p>
    </a>
  {% endfor %}
</div>
